@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  background-color: #FFF1E1;
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

img{
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}

/* HEADER */

.header__inner{
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  z-index: 5;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 10px rgba(166, 171, 189, 0.3);
}

/* .header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header__hamburger{
  background-color: #fff;
  cursor: pointer;
  width: 50px;
  height: 34px;
  position: absolute;
  top: 34px;
  right: 40px;
}

.header__hamburger span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: #222;
  width: 50px;
}

.header__hamburger span:nth-of-type(1) {
  top: 0; 
}

.header__hamburger span:nth-of-type(2) {
  top: 17px;
}

.header__hamburger span:nth-of-type(3) {
  top: 34px;
}

/*activeクラスが付与されると線が回転して×に*/

.header__hamburger.active span:nth-of-type(1) {
  top: 18px;
  transform: translateY(6px) rotate(-45deg);
}

.header__hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.active span:nth-of-type(3){
  top: 30px;
  transform: translateY(-6px) rotate(45deg);
}

.header__down {
  height: 0;
  opacity: 0;
  overflow: hidden; 
  transition: opacity 1.2s ease; 
}

.header__down--open {
  opacity: 1;
  height: auto;
}


.header__down ul{
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.header__down ul li{
  width: 22.222%;
}

.header__down ul li a{
  display: block;
}

.menu-room__img{
  height: 140px;
  border-radius: 10px;
}

.menu-room__title{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;
}

.menu-room__noImg{
  height: 140px;
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon{
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2A82B1;
  transform: rotate(-5deg);
}

.btn-toTop{
  margin-top: 56px;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  color: #21A0E1;
  text-transform: uppercase;
  border: 3px solid currentColor;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-radius: 100px;
  position: relative;
  transition: .3s;
}

.btn-toTop:hover{
  transform: scale(1.1);
}

.btn-toTop::before { 
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 12px;
  width: 30px;
  height: 30px; 
  border-radius: 50%; 
  background: #21A0E1;
}
 
.btn-toTop::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 25px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-135deg);
}




/* MV */

.mv{
  margin-top: 158px;
  position: relative;
}

.mv__img img{
  height: 550px;
}

.pin{
  width: 37px;
  height: 52px;
}

.pin1{
  position: absolute;
  top: 70px;
  left: 314px;
}

.pin2{
  position: absolute;
  top: 346px;
  left: 428px;
}

.pin3{
  position: absolute;
  top: 154px;
  right: 439px;
}

.pin4{
  position: absolute;
  top: 426px;
  right: 317px;
}

.pin5{
  position: absolute;
  top: 210px;
  right: 114px;
}

.pin__bubble{
  outline: 2px solid #21A0E1;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  top: 55px;
  left: -80px;
  opacity: 0;
}

.pin__title{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: capitalize;
}

.pin__link{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: #21A0E1;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* GUIDANCE */

.guidance{
  margin-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 70px;
  box-shadow: 5px 5px 10px rgba(166, 171, 189, 0.3);
}

.guidance__link-list{
  margin-top: 10px;
  display: flex;
}

.guidance__link-list li{
  margin-right: 10px;
}

.guidance__link-list li:last-of-type{
  margin-right: 0px;
}

.fa-facebook{
  font-size: 2.1875rem;
}

.fa-square-x-twitter{
  font-size: 2.1875rem;
}

.fa-instagram{
  font-size: 2.1875rem;
}

.guidance__right{
  display: flex;
}

.guidance__room-list li{
  position: relative;
}

.guidance__room-list1{
  margin-right: 83px;
}

.guidance__room-list2{
  margin-right: 82px;
}

.guidance__room-title{
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: capitalize;
  position: relative;
}

.coming-soon2{
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #2A82B1;
  transform: rotate(-5deg);
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}

/* FOOTER */

.footer{
  margin-top: 40px;
  padding-bottom: 20px;
}

.footer__nav ul{
  display: flex;
  justify-content: center;
  line-height: 1;
}

.footer__nav ul li{
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #222;
}

.footer__nav ul li:last-of-type{
  border: none;
}

.footer__nav ul li a{
  font-size: 0.875rem;
}


.copyright{
  margin-top: 20px;
  text-align: center;
  font-size: 0.75rem;
}

/* 

room-a.html

*/

.breadcrumb{
  margin-top: 150px;
  display: flex;
}

.breadcrumb li a{
  text-transform: capitalize;
  font-size: 0.875rem;
  
}

.room-container{
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

}

/* ROOM-TOP */

.room-top__title{
  font-weight: bold;
  font-size: 1.625rem;
}

.room-top__list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.room-top__big-img{
  width: 73.5%;
}

.room-top__small-img{
  width: 24.5%;
}

.room-top__small-img ul li{
  margin-bottom: 20px;
}

.room-top__small-img ul li:last-of-type{
  margin-bottom: 0;
}

/* ROOM-FEATURE */

.room-feature{
  margin-top: 60px;
}

.room-sectionTitle{
  font-size: 1.25rem;
  font-weight: bold;
}

.room-feature__list{
  margin-top: 15px;
}

.room-feature__list li{
  list-style-type: disc;
  list-style-position: inside;
}

/* ROOM-FACILITY */

.room-facility{
  margin-top: 65px;
}

.room-facility__list{
  margin-top: 25px;
  display: flex;
}

.room-facility__list li{
  margin-right: 10px;
  padding: 5px 10px;
  outline: 1px solid #ccc;
}

.room-facility__list li:last-of-type{
  margin-right: 0;
}

/* RESERVATION-BOX */

.reservation-box{
  margin-top: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}


/* ROOM-PLAN */

.reservation-box__title{
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 15px;
  border-left: 3px solid #222;
}

.room-plan__list{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.room-plan__list li{
  width: 30.85%;
  outline: solid 2px #ccc;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: .3s;
}

.room-plan__list li:hover{
  outline: solid 2px #21A0E1;
}

.room-plan__title{
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.room-plan__price{
  text-align: center;
  margin-top: 25px;
  font-size: 1.75rem;
}

.room-plan__description{
  margin-top: 25px;
  font-size: 0.875rem;
}

.room-plan__time{
  margin-top: 30px;
  font-size: 0.875rem;
}

/* ROOM-DATE */

.room-date{
  margin-top: 60px;
}

.room-date__box{
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ROOM-TIME */

.room-time{
  margin-top: 60px;
}

.room-time__box{
  margin-top: 30px;
}

.room-time__box input{
  width: 300px;
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.room-time__box input:first-of-type{
  margin-left: 0;
}


/* ROOM-OPTION */

.room-option{
  margin-top: 60px;
}

.room-option__list{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.room-option__list li{
  outline: solid 2px #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
  transition: .3s;
}

.room-option__list li:hover{
  outline: solid 2px #21A0E1;
}

.room-option__title{
  margin-top: 20px;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: bold;
}

.room-option__text{
  margin-top: 5px;
  text-align: center;
  font-size: 0.9375rem;
}

.submit-btn{
  margin: 0 auto;
  margin-top: 60px;
  display: block;
  width: 400px;
  color: #fff;
  background-color: #21A0E1;
  outline: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  padding: 17px;
  font-size: 1.25rem;
  font-weight: bold;
  transition: .3s;
}

.submit-btn:hover{
  color: #21A0E1;
  background-color: #fff;
  outline: 2px solid #21A0E1;
}